$forest: #293F38;
$sage: #8C9B92;
$sand: #F1E6DC;
$cream: #FFFCFA;
$white: #FFFFFF;
$brown: #BAB1AA;
$black: #000;

// $stone: #efedeb;
// $cream: #f1e6dc
// $mahogany: #483430;
// $forest: #293f38;
// $taupe: #bab1aa